body {
    background-color: #f3e5d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.white-box {
    width: 800px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    
}

.heading {
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
    justify-content: center;
    width: 800px;
}

.image img {
    width: 100%;
    border-radius: 15px;
}